.resumePage {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 1000px;
  height: 100%;
  margin: auto;
  background: #f1f5f8;
  padding: 5rem;
}
.resumePage li {
  list-style-type: disc;
}

.resumePage ul {
  margin: 1rem 3rem 3rem 3rem;
}
@media screen and (max-width: 768px) {
  .resumePage ul {
    margin: 0rem 0 3rem 0;
  }
  .resumePage h2 {
    font-size: 18px;
    text-align: center;
  }
}

/* Title of the resume */
.resumePage h1 {
  font-size: 55px;
  color: #5c5c5c;
  text-align: center;
  margin-bottom: 2rem;
}
/* h1:hover { */
/*     background-color: #757575; */
/*     color: #FFFFFF; */
/*     text-shadow: 1px 1px 1px #333; */
/* } */

/* Titles of categories */
.resumePage h2 {
  /* This is called "sectioncolor" in the ConTeXt stylesheet. */
  color: #2c3e49;
  margin-top: 2rem;
  font-size: 1.5rem;
}
/* There is a bar just before each category */
.resumePage h2:before {
  content: "";
  display: inline-block;
  margin-right: 1%;
  width: 16%;
  height: 10px;
  /* This is called "rulecolor" in the ConTeXt stylesheet. */
  background-color: #709cb7;
}
/* h2:hover { */
/*     background-color: #397249; */
/*     color: #FFFFFF; */
/*     text-shadow: 1px 1px 1px #333; */
/* } */

/* Definitions */
.resumePage dt {
  float: left;
  clear: left;
  width: 17%;
  font-weight: bold;
  margin-right: 2rem;
}
.resumePage dd {
  margin-left: 17%;
  margin-bottom: 7px;
}
.resumePage p {
  margin-top: 0;
  margin-bottom: 7px;
}

/* Blockquotes */
.resumePage blockquote {
  text-align: center;
  margin: 1rem;
}

/* Links */
.resumePage a {
  text-decoration: none;
  color: #191970;
}

/* Horizontal separators */
.resumePage hr {
  color: #a6a6a6;
}

.resumePage table {
  width: 100%;
}
.buttons {
  display: flex;
  justify-content: center;
}

.buttons a {
  margin-right: 1rem;
}
a {
  margin-bottom: 0.5rem;
}
#tim-hopper {
  text-align: center;
}

.resume-links a {
  color: var(--clr-primary-1);
}

.resume-links:hover {
  color: var(--clr-primary-7);
}
